<ul>
  @for (item of navItems; track $index) {
    <li>
      <a [routerLink]="item.url" (click)="toggleVisible(item)">{{ item.title }}</a>
      @if (item.children != undefined && item.isVisible) {
        @for (children of item.children; track $index) {
          <li class="children">
            <a [routerLink]="children.url">{{ children.title }}</a>
          </li>
        }
      }
    </li>
  }
</ul>

<!--<ul>-->
<!--  <li *ngFor="let item of navItems; let i = index">-->
<!--    <a [routerLink]="item.url" (click)="toggleVisible(item)">{{ item.title }}</a>-->
<!--    <ul *ngIf="item.children && item.isVisible">-->
<!--      <li class="children" *ngFor="let child of item.children">-->
<!--        <a [routerLink]="child.url">{{ child.title }}</a>-->
<!--      </li>-->
<!--    </ul>-->
<!--  </li>-->
<!--</ul>-->
