<div class="chapter">
  <h2>Exo shopping list</h2>
  <div class="content">
    <label for="reference">Reference : </label>
    <input type="text" [(ngModel)]="item.reference">
    <label for="name">Name : </label>
    <input type="text" [(ngModel)]="item.name">
    <label for="price">Price : </label>
    <input type="number" [(ngModel)]="item.price">
    <label for="quantity">Quantity : </label>
    <input type="number" [(ngModel)]="item.quantity">
    <label for="image">Image : </label>
    <input type="text" [(ngModel)]="item.img">
    <hr>
    <button (click)="addItem(item)"> Add to cart </button>
    <hr>
    <app-cart [cartItems]="cartItems" (addItem)="addOneToCart($event)" (removeItem)="removeOneFromCart($event)">
      <h2>Shopping cart</h2>
    </app-cart>
  </div>
</div>
